.top {
	padding: 94px 0;
	margin: 0;
	background-image: url('https://i.imgur.com/9JIZwm0.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: left;
	padding-left: 50px;
	font-family: 'Slabo 27px', serif;
}

#deleteButton {
	margin-left: 15px;
	margin-top: 10px;
}

.strikethrough:checked + span {
	text-decoration: line-through;
}

.cust_list li {
	list-style-type: none;
}
.cust_list li span {
	padding-left: 5px;
}

